apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      volumes:
        - name: shared-img
          persistentVolumeClaim:
            claimName: the-project-claim

      containers:
        - name: todo-app
          image: alxcd/devops_k8s-todo_app@sha256:0cadbe7e6587101595e48a1e520ee1167de844f7ee336c67b35d7486fe41f09d
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "128Mi"
              cpu: "250m"
          volumeMounts:
          - name: shared-img
            mountPath: /usr/src/app/public/img
